* {
    /*border-box lets you set the actual dimensions of an element and any margin/border.padding happens within that*/
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.center-block {float: none !important}
.text-center {text-align: center; margin:auto;display:block;}
.text-left {text-align: left;}
.text-right {text-align: right;}
.margin-right {margin-right: 15px;}
.space-bottom {margin-bottom:20px}

/*NAV BAR STYLING*/
.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.nav-header {
    float:left;
    color: white;
    display: block;
    text-align: center;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 20px
}
.nav-item {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nav-item:hover {
    background-color: #111;
    text-decoration: none;
    color: white;
}

.nav-profile {
    float: right;
    text-decoration: none;
}
/*LOGIN PAGE STYLING*/
.login-banner {
    padding: 30px;
}
/*ACCOUNT PAGE STYLING*/
.profile-banner {
    padding: 30px;
}
