<div class="row">
    <div class="col-sm-12 center-block">
        <div class="col-sm-12 profile-banner space-bottom">
            <div class="row space-bottom">
                <h1 class="text-center">{{ user.name }}</h1>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-default center-block">Change Password</button>
                </div>
                <div class="col-xs-12">
                    <button class="btn btn-default center-block">Sign Out</button>
                </div>
                <div class="col-xs-12">
                    <button class="btn btn-default center-block"><span></span>Edit Profile</button>
                </div>
            </div>
        </div>

        <div class="col-xs-12 space-bottom">
            <div class="row">
                <label class="col-sm-6 text-right" for="CWID">Campus Wide ID</label>
                <div id="CWID" class="col-sm-6 text-left">10384594</div>
            </div>
            <div class="row">
                <label class="col-sm-6 text-right" for="Major">Major</label>
                <div id="Major" class="col-sm-6 text-left">Computer Science</div>
            </div>
            <div class="row">
                <label class="col-sm-6 text-right" for="SemesterOfEntry">Semester of Enrollment</label>
                <div id="SemesterOfEntry" class="col-sm-6 text-left">Fall 2013</div>
            </div>
            <div class="row">
                <label class="col-sm-6 text-right" for="GraduationDate">Graduation Date</label>
                <div id="GraduationDate" class="col-sm-6 text-left">May 2017</div>
            </div>
            <div class="row">
                <label class="col-sm-6 text-right" for="CWID">Cummulative GPA</label>
                <div id="CWID" class="col-sm-6 text-left">3.68</div>
            </div>
            <div class="row">
                <label class="col-sm-6 text-right" for="CWID">Completed Credits</label>
                <div id="CWID" class="col-sm-6 text-left">114</div>
            </div>
        </div>

    </div>
</div>
