<!--Account page-->
<!--<br />-->
<!--{{ placeholderData }}-->
<div class="row">
    <div class="col-sm-12 center-block">
        <h1 class="text-center space-bottom">My Account</h1>

    </div>
</div>
