<div class="row">
    <div class="col-sm-6 center-block">
        <h1 class="login-banner text-center space-bottom">Change Password</h1>
        <form class="space-bottom">
            <div class="form-group">
                <label for="oldPassword">Old Password</label>
                <input type="password" class="form-control" id="oldPassword" placeholder="Enter Old Password" value="{{ oldPassword }}">
            </div>
            <div class="form-group">
                <label for="newPassword">New Password</label>
                <input type="password" class="form-control" id="newPassword" placeholder="Enter New Password" value="{{ newPassword }}">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm New Password" value="{{ newPassword2 }}">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default center-block">Submit</button>
            </div>
        </form>
    </div>
</div>
