<div class="row">
    <div class="col-sm-6 center-block">
        <h1 class="login-banner space-bottom">Oops!</h1>
        <h2>Error{{ error.status}}</h2>
        <h3>{{error.message}}</h3>
    </div>
</div>
