<h1 id="the-heading" class="text-center login-banner">Course Scheduler</h1>
<form action="/scheduler" method="POST">
    <div class="row">
        <div class="col-sm-12">
            <h2>Information</h2>
            <div class="form-group col-sm-12">
                <label for="saveName">Schedule Name</label>
                <input type="text" class="form-control" id="saveName" name="saveName" placeholder="Give your schedule a name! (ex. Fall 2016)" value="{{saveName}}">
            </div>
        </div>
        <div class="col-sm-12 space-bottom">
            <h2>Courses</h2>
            <div class="form-group col-sm-3">
                <label for="course1">Course 1</label>
                <input type="text" class="form-control" id="course1" name="course1" placeholder="AA ###">
            </div>
            <div class="form-group col-sm-3">
                <label for="course2">Course 2</label>
                <input type="text" class="form-control" id="course2" name="course2" placeholder="AA ###">
            </div>
            <div class="form-group col-sm-3">
                <label for="course3">Course 3</label>
                <input type="text" class="form-control" id="course3" name="course3" placeholder="AA ###">
            </div>
            <div class="form-group col-sm-3">
                <label for="course4">Course 4</label>
                <input type="text" class="form-control" id="course4" name="course4" placeholder="AA ###">
            </div>
            <div class="form-group col-sm-3">
                <label for="course5">Course 5</label>
                <input type="text" class="form-control" id="course5" name="course5" placeholder="AA ###">
            </div>
            <div class="form-group col-sm-3">
                <label for="course6">Course 6</label>
                <input type="text" class="form-control" id="course6" name="course6" placeholder="AA ###">
            </div>
            <div class="form-group col-sm-3">
                <label for="course7">Course 7</label>
                <input type="text" class="form-control" id="course7" name="course7" placeholder="AA ###">
            </div>
            <div class="form-group col-sm-3">
                <label for="course8">Course 8</label>
                <input type="text" class="form-control" id="course8" name="course8" placeholder="AA ###">
            </div>
        </div>
    </div>
    <div class="row">
        <button type="submit" class="btn btn-primary center-block">Submit</button>
    </div>
    {{#if error }}
        <div class="form-group">
            <div class="alert alert-danger text-block">
                {{ error }}
            </div>
        </div>
    {{/if}}
    {{#if success }}
        <div class="form-group">
            <div class="alert alert-success text-block">
                {{ success }}
            </div>
        </div>
    {{/if}}
</form>
