<div class="row">
    <div class="col-sm-6 center-block">
        <h1 class="login-banner text-center space-bottom">Sign Up</h1>
        <form class="space-bottom">
            <div class="form-group">
                <label for="email">Stevens Email</label>
                <input type="text" class="form-control" id="email" placeholder="Enter your Stevens Email" value="{{ email }}">
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Enter your Stevens Username" value="{{ username }}">
            </div>
            <div class="form-group">
                <label for="Password">Password</label>
                <input type="text" class="form-control" id="username" placeholder="Enter your Password" value="{{ password }}">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Confirm your Password" value="{{ password }}">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default center-block">Sign Up</button>
            </div>
        </form>
        <a class="text-center" href="/">Already have an account?<br>Sign in here</a>
    </div>
</div>
